@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

#timer 
	margin: 0 auto

.timer-wrap
	margin-top: 50px
	text-align: center
	font-size: 3.5em
	font-weight: bold

button
	cursor: pointer

.buttons-wrap
	text-align: center

.timer-types
	list-style-type: none
	margin: 0 auto
	display: flex
	width: 100%
	justify-content: space-between
	li 
		display: block
		width: 100%

.timer-type__button
	display: inline-block
	background-color: #007bff
	color: white
	text-align: center
	width: 100%
	font-weight: bold
	padding: 7px 0
	border: 1px solid darken(#007bff, 10%)
	cursor: pointer
	transition: all .2s
	&:hover, &:active
		background-color: darken(#007bff, 5%)





@import "media" // Всегда в конце
